*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width:100%;
    background-color: #E0E0E0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 154px;
}
body{
    background-image: linear-gradient(
        to bottom,
        #E0E0E0 0%,
        #E0E0E0 50%,
        #ffffff 50%,
        #ffffff 100%
    );
    height: 100vh;
}

footer{
    width:100%;
    background-color: #E0E0E0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 168px;
    position: absolute;
    bottom: 0;
}

.logo-imagem{
    width: 162px;
    height: 142px;
    background-color: #677187;
}
.container-logo{
    display: flex;
    align-items: center;
}
.logo-texto{
    margin-left: 102px;
}
.menu li{
    display: inline-block;
    margin: 0 10px;
}
.menu li a{
    font-size: 24px;
    text-decoration: none;
    color: #111828;
}

.botao{
    font-size: 16px;
    color: white;
    padding: 3px;
    background-color: #677187;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.botao:hover{
    background-color: #A9ADBB;
}

.botao-rodape{
    width: 302px;
    height: 50px;
    top: 302px;
    left: 294px;
}

.rodape-prin
{   
    clear: both;
    height: 128px;      
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: "arial", sans-serif;
    position: absolute;
}

.rodape-prin span {
  
  float: left;
  width:55%;
  height: 10px;
  line-height: 60px; /* Mesma altura do rodapé */
  
}

.icones-sociais ul {
  
  display: inline-block;
  height: inherit;
  top: 90%;
  margin: 0;
  line-height: 60px;
  
}

.icones-sociais li
{
    display: inline-block;
    margin-left: 5px;
    margin-top: 7px;
    width: 30px;
    height: inherit;
}

.spotify{

    width:  50%;
    border-radius: 9px;
    position: absolute;
    top: 5%;
    font-size: 40px;

    
}

#image
{
    height: 100px;
    width: 100px;
    position:absolute;
    transition: 0.2s ease-out;
    
}

#image img
{
   width: 80px;
   background-size: cover;
   background-color:  #E0E0E0;
}

.wrapper{
    width:100%;
    padding-top: 100px;
    text-align:center;
  }

.carousel{
    align-items: center;
    height: 400px;
    width: 400px;
    margin-left: 500px;
    margin:0px auto;
}

  .slick-slide{
    margin:10px;
  }
  .slick-slide img{
    width:100%;
    border: 2px solid #010000;
  }

.wrapper .slick-dots li button:before {
    font-size:20px;
    color:rgb(19, 5, 5);
  }


  